USE [SDW_Prod]
GO
/****** Object:  Table [dbo].[AssessmentIA]    Script Date: 12/1/2016 8:51:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssessmentIA](
	[Related_IA] [varchar](255) NULL,
	[Assessment_Name] [varchar](255) NULL
) ON [PRIMARY]

GO
