USE [SDW_Prod]
GO
/****** Object:  View [dbo].[vw_ATTENDANCE_AND_SUSPENSIONS]    Script Date: 12/1/2016 8:51:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_ATTENDANCE_AND_SUSPENSIONS]
AS
SELECT     a.Student_SF_ID, a.cych_Accnt_SF_ID, a.Student__c, a.Intervention_Corps_Member, a.Intervention_Corps_Member_ID, 
                      a.Assessment_Name__c AS Assessment_Name_ATT, a.Average_Daily_Attendance__c, b.Assessment_Name__c AS Assessment_Name_SUS, 
                      b.Number_of_Suspensions__c, b.Number_of_Detentions__c, b.Number_of_Office_Referrals__c, a.Quarter, a.Date_Administered__c, a.cysch_Accnt_SF_ID, 
                      CASE WHEN b.Number_of_Suspensions__c IS NOT NULL AND b.Number_of_Suspensions__c <> '0.0' THEN 1 ELSE 0 END AS SUSPENSION_IND, 
                      CASE WHEN b.Number_of_Detentions__c IS NOT NULL AND b.Number_of_Detentions__c <> '0.0' THEN 1 ELSE 0 END AS DETENTION_IND, 
                      CASE WHEN b.Number_of_Office_Referrals__c IS NOT NULL AND b.Number_of_Office_Referrals__c <> '0.0' THEN 1 ELSE 0 END AS OFFICEREFERRAL_IND
FROM         dbo.vw_AVG_DAILY_ATT AS a LEFT OUTER JOIN
                      dbo.vw_NUM_OF_SUSPENSIONS AS b ON a.Student_SF_ID = b.Student_SF_ID AND a.cych_Accnt_SF_ID = b.cych_Accnt_SF_ID AND a.Quarter = b.Quarter

GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "a"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 114
               Right = 273
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "b"
            Begin Extent = 
               Top = 6
               Left = 311
               Bottom = 114
               Right = 546
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_ATTENDANCE_AND_SUSPENSIONS'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_ATTENDANCE_AND_SUSPENSIONS'
GO
